
html {
    font-size: 87.5%;
}

body {
    font-size: 14px;
    line-height: 18px;
}

.container {
    max-width: none !important;
    width: 1040px;
}

.container:first-child {
    margin-top: 68px;
}

.container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.statement {
    font-family: "Times New Roman", serif;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 34px;
}

h3 {
    text-transform: uppercase;
    color: #153E68;
    font-size: 13px;
    font-weight: bold;
}

h4 {
    font-family: "Times New Roman", serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    color: #153E68;
}

a {
    color: rgba(0,0,0,0.7);
}

a:hover {
    color: rgba(0,0,0,0.9);
}

.sep {
    position: relative;
    margin: auto;
    left: 50%;
    right: 50%;
    top: -14px;
}

/* dark blue toolbar #153E68 */
.navbar-default {
    border: 0;
}

.navbar-fixed-top {
    background-color: #153E68;
    overflow: hidden;
}

.navbar-fixed-top,
.navbar-header,
.navbar-nav {
    height: 68px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-default .navbar-header > a,
.navbar-default .navbar-nav > li > a {
    color: white;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-default .navbar-header > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a:hover {
    color: #ccc;
    background-color: inherit;
}

.navbar-default .navbar-nav li.active a {
    border-bottom: 2px solid #00AEEF;
    font-weight: bold;
    color: #ccc;
    background-color: inherit;
}

.navbar-fixed-top .navbar-header > a,
.navbar-fixed-top .navbar-nav > li > a {
    text-transform: uppercase;
    font-weight: normal;
}

.navbar-fixed-top .navbar-header > a {
    font-size: 12px;
}

.navbar-fixed-top .navbar-header > a img {
    vertical-align: bottom;
}

.navbar-fixed-top a.notransform {
    text-transform: normal;
}

/* dark sections */
.dark {
    background-color: #00699F;
    color: white;
}

.dark h4 {
    color: white;
}

/* "credential" images */
.cred {
    vertical-align: top;
}

#home .container {
    padding-top: 0;
    padding-bottom: 0;
}

/* faq */
#faq h3 {
    margin-bottom: 50px;
}

#faq .btn-group {
    margin-bottom: 40px;
}

#faq .btn-default {
    background-color: inherit;
    border: 1px solid #153E68;
    color: #153E68;
    text-transform: uppercase;
}

#faq .btn-default.active {
    background-color: #00AEEF;
    border: 1px solid #00AEEF;
    color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
}


/* contact form */
#contact {
    padding-top: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

#contact label {
    display: block;
    color: #0f3153;
}

#contact input,
#contact textarea {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

#contact textarea {
    min-height: 100px;
}

#contact .btn {
    text-transform: uppercase;
    color: white;
    background-color: #00afea;
    font-size: 12px;
    margin-top: 20px;
}

#contact input,
#contact .value {
    display: block;
    margin-bottom: 10px;
}

#footer {
    height: 45px;
    line-height: 45px;
    color: white;
    font-size: 10px;
    background-color: #0f3f65;
    padding-left: 45px;
    padding-right: 45px;
}