body {
    margin-top: 20px;
}

.hero-unit {
    padding: 0;
    margin: auto;
    width: 1000px;
    height: 710px;
    background-image: url(placeholder.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.mailto {
    position: absolute;
    display: block;
    left: 360px;
    top: 490px;
    width: 340px;
    height: 20px;
}